@{
    ViewBag.Title = "Get to know Santa";
}

<div class="container my-about-banner">
    <div class="row">
        <h1>@ViewBag.Title</h1>
        <div class="col-12">
            <a href="https://www.picktime.com/95c3cbf0-505e-473e-9955-0b6e40ee5451" target="_blank" class="my-padding-top-bottom my-book-now">
                BOOK NOW
            </a>
        </div>
    </div>
</div>


<div class="container my-index-content-one">
    <div class="row text-center my-4">
        <div class="col-8 offset-2"><p>Each of our Santas has a unique personality, style and experience.  They have personally been vetted through our head elves and routinely evaluated to make sure they are offering a 5-star experience.  You may schedule with a specific Santa when you book a call if there is one that you think would be a perfect fit.  We want your video call with Santa to be an unforgettable experience.</p></div>
    </div>
    <div class="row align-items-start justify-content-around">
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="card border-0 m-4">
                <img src="~/Content/Images/santa-1-bio.png" class="img-fluid" alt="Picture of Santa Gary)" />
                <div class="card-body">
                    <p class="card-text">By any name this personality brings joy and wonderment to children and adults the world over.  I have been fortunate enough to bring him to life for over forty years to children and families with personal visits to homes, hospitals and company gatherings.</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-center">
            <div class="card border-0 m-4">
                <img src="~/Content/Images/santa-2-bio.png" class="img-fluid" alt="Picture of Santa Pete)" />
                <div class="card-body">
                    <p class="card-text">I am a real bearded Santa Claus with over 20 years experience.  I look forward to continuing to make life long memories for you and your family.  I love to learn as much as I can about the child(ren) prior to talking to them.  I feel the more details beforehand lead to a fantastic experience.  Each year I research the latest and greatest toys for the season so I have factual conversations about your child(ren)s Christmas wishes.  Their happiness is my main priority.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-8 offset-2 my-4">
            <h1><strong>Are you a Santa? Join Talks with Santa</strong></h1>
        </div>
        <div class="col-8 offset-2 my-4">
            <a href="mailto:talkswithsanta@gmail.com" target="_blank" class="my-padding-top-bottom my-book-now">
                LEARN MORE
            </a>
        </div>
    </div>
</div>

