
@{
    ViewBag.Title = "Talks with Santa - FAQ";
}

<div class="container my-index-banner">
    <div class="row">
        <h1>Let's answer <br />your questions</h1>
    </div>
</div>

<div class="container my-index-content-one">
    <div class="d-flex justify-content-center">
        <div class="accordion my-accordian" id="accordionFAQ">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <strong>What is Talks with Santa?</strong>
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Talks with Santa is a live virtual visit with Santa for your entire household  from the safety & comfort of your home. We also offer pre-recorded video messages from Santa that can be sent to a loved one.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingTwo">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            <strong>Do I need software for the video call?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Talks with Santa uses Google Meet, and you will only need the custom link for your meeting to join. No additional downloads are necessary.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingThree">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            <strong>How much does it cost?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionFAQ">
                    <div class="card-body">
                        A pre-recorded greeting from Santa is $20 and a live video call, including the video recording, is just $25. That’s almost half the cost of a mall Santa photo package.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                            <strong>Is there a limit on how many people can be on a call?</strong>
                        </button>
                    </h2>
                </div>

                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionFAQ">
                    <div class="card-body">
                        We can only have one household join the call, but there is no limit on number of children allowed, however, it is recommended if there are more than 3 to schedule an additional call so each child has a personalized experience.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingFive">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                            <strong>How long are the calls and pre-recorded greetings?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Each video call with Santa is about five minutes, if you would like more time you can book two time slots.
                        <br />
                        Pre-recorded greetings are usually one or two minutes in length.

                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingSix">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                            <strong>When should I sign in for my time?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionFAQ">
                    <div class="card-body">
                        I would suggest being prepared for your call about five minutes before your call starts to make sure you get setup.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingSeven">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button" type="button" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
                            <strong>What should I bring to my call?</strong>
                        </button>
                    </h2>
                </div>

                <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordionFAQ">
                    <div class="card-body">
                        If your child has art or a list they want to show Santa on the call they are more than welcome to do so, but Santa should have information about your child already and you shouldn’t need to bring anything
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingEight">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
                            <strong>Help! My call isn't working:</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Please call Head Elf Brooke 602-334-7850 if you are having technical difficulties with your call.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingNine">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button collapsed" type="button" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                            <strong>What type of device is best for this call?</strong>
                        </button>
                    </h2>
                </div>
                <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordionFAQ">
                    <div class="card-body">
                        A tablet or computer is preferred, but you can do this on a mobile phone as well.
                    </div>
                </div>
                <hr class="my-faq-hr" />
            </div>
            <div class="card">
                <div class="card-header" id="headingTen">
                    <h2 class="mb-0">
                        <button class="btn my-faq-button" type="button" data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
                            <strong>I'm talent and would love to be involved, where do I learn more?</strong>
                        </button>
                    </h2>
                </div>

                <div id="collapseTen" class="collapse" aria-labelledby="headingTen" data-parent="#accordionFAQ">
                    <div class="card-body">
                        Please reach out to <u>talkswithsanta@gmail.com</u> to start a conversation.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-index-content-two">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 offset-lg-1">
            <p class="my-faq-p">We hope your video call is a magical memory.<br />
            If you have any questions or concerns please email <u>talkswithsanta@gmail.com</u></p>
        </div>
        <div class="col-12 col-lg-5 text-center">
            <img src="~/Content/Images/webelementsmaster-04.png" class="my-left-image" alt="boy video calling santa" />
        </div>
    </div>
</div>