@{
    ViewBag.Title = "Talks With Santa";
}
<div class="container my-index-banner">
    <div class="row">
        <h1>Virtual Santa Visits<br />Have Come To Town</h1>
        <div class="col-12">
            <a href="https://www.picktime.com/95c3cbf0-505e-473e-9955-0b6e40ee5451" target="_blank" class="my-padding-top-bottom my-book-now">
                BOOK NOW
            </a>
        </div>
    </div>
</div>

<div class="container my-index-content-one">
    <div class="row align-items-center">
        <div class="col-12 col-lg-5 text-center">
            <img src="~/Content/Images/webelementsmaster-05.png" class="my-left-image" alt="boy video calling santa" />
        </div>
        <div class="col-12 col-lg-6">
            <h3 class="mico-h3 py-4">A video call with Santa will make your family's Christmas a little more magical.</h3>
            <p>You’ve heard the tales, or maybe you’ve experienced it yourself. Standing in a long line with kids anxiously waiting to meet Santa and tell him in 30 seconds what they want for Christmas. You’re over the wait and your kids asking “are we up yet” but once they meet Santa it seems worth it because they talk about the experience for hours. Now, imagine lounging in your Christmas pj’s, enjoying a warm drink and watching your children giggle with delight while talking to the one and only Santa Claus. They can talk to him for five minutes, he engages with them on a personal level and they can watch the video over and over again  <strong><span class="my-em">This is the Talks with Santa experience.</span></strong> We offer live video calls for your whole family from the comfort of your own home.</p>
            <p><strong>This stress-free, personal and memorable activity will be cherished for a lifetime. Find a time that fits your family’s schedule, relax in the comfort of your home and get into the holiday spirit.</strong></p>
        </div>
    </div>
</div>

<div class="container my-index-content-two">
    <div class="row align-items-center">
        <div class="col-12 col-lg-6 offset-lg-1">
            <h3 class="mict-h3 py-4">A Virtual Santa Experience</h3>
            <p class="mict-p">Are you looking to have a socially distant Santa visit? During a year like no other, we can help make your family’s holiday special while staying safe. The North Pole has gone digital and Santa is now offering virtual vists through video! These video calls are more personal, more fun and less stressful than traditional Santa visits. This is the best way to meet Santa and lower the risk of COVID-19.</p>
        </div>
        <div class="col-12 col-lg-5 text-center">
            <img src="~/Content/Images/webelementsmaster-04.png" class="my-left-image" alt="boy video calling santa" />
        </div>
    </div>
</div>

<div class="container my-index-content-one my-plr">
    <div class="=row text-center">
        <div class="col-10 offset-1">
            <h3 class="mico-h3 py-4">
                A Personalized Santa Visit
            </h3>
            <p class="mic3-p">
                Unlike a meet-in-person Santa, our experiences are personally tailored to your child or children. When you book a Talks with Santa, we ask for a bit of information about your child so Santa can tailor the conversation to them. This truly is a unique and personal experience that you won’t have anywhere else.
            </p>
            <p><strong>Start a new family tradition with a video call to Santa.</strong></p>
        </div>
        <div class="col-10 offset-1">
            <h4 class="mic3-h4 py-3">
                <strong>HERE'S HOW IT WORKS</strong>
            </h4>
        </div>
    </div>
    <div class="row justify-content-around text-center">
        <div class="col-10 col-md-3">
            <h6 class="py-3">
                <img src="~/Content/Images/webelementsmaster-03.png" class="img-fluid" alt="santa hat"/>
            </h6>
            <p>
                Read our Santa Bios and schedule a call
            </p>
        </div>
        <div class="col-10 col-md-3">
            <h6 class="py-3">

                <img src="~/Content/Images/webelementsmaster-02.png" class="img-fluid" alt="link letter"/>
            </h6>
            <p>
                Receive a link for the video in your email and follow the download instructions
            </p>
        </div>
        <div class="col-10 col-md-3">
            <h6 class="py-3">
                <img src="~/Content/Images/webelementsmaster-01.png" class="img-fluid" alt="santa snapshot"/>
            </h6>
            <p>
                Log in to your video call at your scheduled time and enjoy the memory
            </p>
        </div>
        <div class="col-12 py-4">
            <a href="@Url.Action("FAQ","Home")" class="my-padding-top-bottom my-book-now">
                READ OUR FAQs
            </a>
        </div>
    </div>
</div>


